/*
    1 Từ ngoài vào trong
    2 Từ trên xuống dưới 
    3 Tổng quan đến chi tiết
*/

/*
    1 Vị Trí
    2 Kích thước (width, height)
    3 Màu sắc
    4 Kiểu dáng (kiểu  chữ, hình tròn, vuông,...)
*/

/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-white{
    color: #fff;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}
/* Common*/
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    width: 33.333%;
}
.col2{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    width: 50%;
}
.text-center{
    text-align: center;
}
.clear{
    clear: both;
}


#main{

}
/*Begin header*/
#header{
    height: 46px;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav, .sub-nav {
    list-style-type: none;
}

#nav{
    display: inline-block;
}
#nav >li{
    display: inline-block;
}
/* #nav li{
    position: relative;
 
} */
#nav li a{
    
    text-decoration: none;
    padding: 0 24px;
    line-height: 46px;
    display: block;
    color: #fff;
    text-transform: uppercase;
   
}
#nav > .li1:hover > a{
    color: #000;
    background-color: #ccc;   
}


.logo > a{
    color: #fff;
    font-size: 16px;
    margin-right:200px;
    margin-left: 20px;
    opacity: 1;
    font-weight: 500;
}

.logo
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size:  auto;
  background-clip: border-box;
  background-size: 50px auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
      font-size: 25px;
}

@keyframes textclip {
  to {
    background-position: 100% center;
  }
}

#header .search-btn,
#header .shopping-btn,
#header .user-btn{
    float: right;
    padding: 0 21px;
   
}

#header .search-btn:hover,
#header .shopping-btn:hover,
#header .user-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

#header .shopping-icon,
#header .search-icon,
#header .user-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}
/*End header*/

/*Begin Intro*/

#intro{
    margin: 200px 200px 100px;
    width: 1050px;
}

#intro .content{
    float: left;
    width: 50%;
}
.content .intro-header{
    text-transform: uppercase;
    font-size: 40px;
    color: rgba(0,0,0,0.6)
    
}
.content .socials-list{
    margin: 20px 0 15px;
}
.socials-list a {
    color: rgba(0,0,0,0.6);
    width: 20px;
    margin: 0 5px;
    font-size: 25px;
    text-decoration: none;
}
.content .socials-list i:hover{
    color: rgba(0,0,0,0.3);
}
.text{
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: 1px solid #000; 
}
.content img{
    width: 467px;
    height: 382px;
    border: 1px solid #000;
    border-radius: 25px;
}

/* Service section*/
#content .service-section{
    background-color: #000;
}
#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
}

/*Servieces list*/
.services-list{
    margin-top: 32px;
}

.services-icon{
    font-size: 25px;
    position: relative;
    left: 100px;
    right: 60px;
}

.services-icon:hover{
    opacity: 0.6;
}
.services-heading{
    text-align: center;
}
.services-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px; 
}
.services-heading{
    font-size: 15px;
    font-weight: 600;
}
.services-time{
    margin-top: 15px;
    color: #757575;
}
.services-dsc{
    margin-top: 15px;
    line-height: 1.4;
}
.btn{
    color: #fff;
    text-align: center;
    width: 60px;
    background-color: rgb(223, 20, 20);
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
}
.btn:hover{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
} 

.member-list{
    margin-top: 48px;
}
.member-item img{
    width: 50%;
    border-radius: 100px;
}
.member-name{
    color: rgba(0, 0, 0, 0.9)

}
.member-item p {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}
.member-item .socials-list {
    margin-top: 30px;
    
}
.member-item .socials-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    padding: 0 5px;
}
iframe{
    margin-top: 60px;
    width: 100%;
    height: 500px;

}

footer{
    background-color: #000;
    color: #fff;
}
.footer-content2{
    margin: 40px 152px;
    display: inline-block;
    font-size: 15px;
}
.download-header{
   font-weight: 300;
}
.download-content{
    margin-top: 20px;
    color: #fff;
    opacity: 0.5;
}
.box-download{
    margin-top: 40px;
}
.android-download,
.apple-download{
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    width: 150px;
    font-weight: 000px;
}
.android-download:hover,
.apple-download:hover{
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
}
.apple-download i,
.android-download i{
    margin-right: 5px;
}
.apple-download{
    margin-left: 30px;
}
.footer-purpose {
    font-size: 20px; 
    text-align: center;
}
.purpose-content{
    text-align: center;
    margin-top: 20px;
}



